* {
  margin: 0;
  padding: 0;
}
body {
  color: #333333;
  line-height: 1.4em;
  background-color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 0.9em;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.download {
  margin-top: 100px;
  display: block;
  text-align: right;
}

#resume:before {
  content:"Online version with links available at cv.brunosan.eu";
  position: absolute;
  font-weight:bold;
  top: 0px;
  right: 0px;
}



#resume {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
}
#resume h1 { border: 0; }
#resume h2 { border: 0; }
#resume h3 { border: 0; }
#resume h4 { border: 0; }
#resume h5 { border: 0; }
#resume h6 { border: 0; }
#resume h1 {
  font-size: 170%;
  /*border-bottom: 1px solid #cccccc;*/
  padding-bottom: .5em;
}
#resume h1:first-child {
  margin-top: 30px;
  padding-top: 0.25em;
  border-top: none;
  font-size: 200%;
  text-align: center;
}

.contact{
  float:left;
}
.address{
    float:right;
}

  


#resume h2 {
  display: block;
  font-size: 150%;
  margin: 0.83em 0px;
  font-weight: bold;
  /*border-bottom: 1px solid black;*/
}
#resume h3 {
  font-size: 1.2em;
  margin-bottom: 0;
  font-weight: 500;
}
#resume p {
  margin: 1em 0;
  line-height: auto;
}
#resume ul { margin: 1em 0 1em 2em; }
#resume ul li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
#resume ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
#resume ul ol {
  margin-top: 0;
  margin-bottom: 0;
}
#resume ol { margin: 1em 0 1em 2em; }
#resume ol li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
#resume ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
#resume ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
#resume blockquote {
  border-left: 5px solid #e0e0e0;
  margin: 1em 0;
  padding-left: 0.6em;
}

#resume img { max-width: 100%; }
#resume blockquote {
  margin: 1em 0;
  border-left: 5px solid #e0e0e0;
  padding-left: 0.6em;
  color: #333333;
}
#resume dt {
  font-weight: bold;
  margin-left: 1em;
}
#resume dd {
  margin-left: 2em;
  margin-bottom: 1em;
}



#float_right {
	width: 600px;
	float: right;
	text-align: right;
}


#resume a{
    text-decoration: none;
    color: #000;
}
